:root {
  /* Variable */
  --main-color: #a8bcff;
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrolling Style */
/* Lebar scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Background track scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Warna thumb scrollbar */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

/* Hover effect pada thumb scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* End Scrolling Style` */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  background-color: var(--main-color);
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 0.8;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--main-color);
  cursor: pointer;
  color: #000;
  transition: 0.25s;
}
button:hover {
  background-color: #646cff;
  color: white;
}

input:focus {
  outline: none;
}

/* Login & Register */
.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  flex-direction: column;
  border-radius: 10px;
  width: 300px;
  padding: 20px 30px;
}

.formWrapper span {
  font-size: 14px;
  font-style: italic;
}

.formWrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  width: 100%;
}

.formWrapper input {
  padding: 10px 5px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--text-color);
  &::placeholder {
    color: rgb(130, 130, 130);
  }
}

.formWrapper form label {
  display: flex;
  gap: 10px;
  font-size: 13px;
  align-items: center;
  color: rgb(130, 130, 130);
}

.formWrapper p {
  font-size: 12px;
}

/* Home */
.homeWrapper {
  display: flex;
  background-color: var(--bg-color);
  border-radius: 15px;
  width: 65vw;
  height: 80vh;
  overflow: hidden;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.25);
}

.chat {
  flex: 2;
}

.sideBar {
  flex: 1;
  background-color: #3e4268;
}

.navbar {
  display: flex;
  background: red;
  padding: 1px 15px;
  align-items: center;
  justify-content: space-between;
  background-color: #2e3151;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user img {
  background-color: #ddddf7;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar button {
  background-color: #555c8e;
  color: #fff;
  font-size: 10px;
  border-radius: 0;
  font-weight: 600;
  padding: 0.5em 1em;
}

.navbar button:hover {
  color: #000;
  background-color: #fff;
}

.searchForm {
  overflow: hidden;
}

.searchForm input {
  width: 100%;
  background-color: #4e5384;
  padding: 10px;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.4);
  &::placeholder {
    color: #ddddf7;
  }
}

.chats {
  flex: 2;
  height: calc(100% - 160px);
  overflow-y: scroll;
}

.messageList {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  align-items: center;
}

.messageList:hover {
  background-color: #2e3151;
}

.imgUser {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #fff;
}

.sender {
  font-weight: bold;
}

.text {
  display: flex;
  flex-direction: column;
}

.text span:last-child {
  font-size: 12px;
}

.chat {
}

.chatInfo {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: #4f4e82;
}
.userInfo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 17px;
}
.userInfo .imgUser {
  height: 40px;
  width: 40px;
}

.messages {
  background: #ddddf7;
  padding: 10px;
  height: calc(100% - 160px);
}

.input {
  height: 50px;
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input input {
  background: #fff;
  border: none;
  outline: none;
  color: #2f2d52;
  font-size: 16px;
  &::placeholder {
    color: lightgray;
  }
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
}

.send i {
  font-size: 20px;
}

.send button {
  border: none;
  border-radius: 3px;
  padding: 8px 14px;
  color: white;
}

.send button i {
  font-size: 16px;
}

.messages,
.input {
  color: #000;
}

.message {
  display: flex;
  gap: 20px;
}

.messageInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.messageContent img {
  width: 50%;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --bg-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
